# Database
DB_HOST=db
DB_PORT=5432
DB_NAME=webhooksmith
DB_USER=webhooksmith
DB_PASSWORD=pasword # Change me
DB_LOGGING=false

# API
NODE_ENV=development # development | test | production
LOG_LEVEL=verbose # verbose | debug | log | warn | error
PORT=3030
HOST=0.0.0.0
ALLOWED_ORIGINS=webhooksmith.domain.internal,webhooksmith.domain.com
COOKIE_DOMAIN=.domain.internal # Recommend using a dot prefix
SESSION_TTL=604800000 # 7 days

# Swagger
SWAGGER_ENABLED=true
SWAGGER_PATH=/docs

# Remove these after first startup
# INITIAL_USERNAME=
# INITIAL_PASSWORD=
