DB_LOGGING=false
LOG_LEVEL=verbose # verbose | debug | log | warn | error
PORT=3030
ALLOWED_ORIGINS=webhooksmith.domain.internal,webhooksmith.domain.com
COOKIE_DOMAIN=.domain.internal # Recommend using a dot prefix.
SESSION_TTL=604800000 # 7 days.

# Swagger.
SWAGGER_ENABLED=true
SWAGGER_PATH=/docs

# Remove these after first startup.
INITIAL_USERNAME=
INITIAL_PASSWORD=
